<div class="barra-superior">
  <div class="leyenda">
  Guillermo Pablo Villalba Pintura Profesional
  </div>
</div>
<main>
  <div>
    <div>
    <div class="section1" ><div>
 <div class="fullpage">
  <div class="title title--top">
    <h1 class="titulo">ESPACIOS<br>VIBRANTES</h1>
    <div class="border js-letter" ><span></span><span class="js-letter" ></span></div>
  </div>
   <div class="campo">
 <iframe width="363" height="445" src="https://www.youtube.com/embed/NASWTcheiQ0" title="11 de marzo de 2024" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
   </div>
