<div class="barra-superior">
  <div class="leyenda">
    PINTURA INTEGRAL de Rubén Dario Jara & Guillermo Pablo Villalba
  </div>
</div>
<main>
  <div>
    <div>
    <div class="section1" ><div>
 <div class="fullpage">
  <div class="title title--top">
    <h1 class="titulo">PINTURA<br>INTEGRAL</h1>
    <div class="border js-letter" ><span></span><span class="js-letter" ></span></div>
  </div>
   <div class="campo">
   <iframe width="463" height="445" src="https://youtube.com/shorts/oahEiW3205A?si=lSKiPOv0Bq4uTnSV" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
<main>
