

<div class="container"><div class="item"></div>

<h1  class="heading"> Guillermo Villalba, fundador de la empresa, lidera un equipo de profesionales altamente capacitados y con experiencia en proyectos de diversos tamaños y complejidades. Su dedicación y compromiso con la calidad y la satisfacción del cliente es lo que lo distingue en el mercado.Somos una empresa especializada en ofrecer soluciones completas de pintura para hogares, edificios y todo tipo de proyectos de construcción. Con años de experiencia en el sector, nos enorgullece ofrecer a nuestros clientes un servicio de calidad, profesionalismo y atención personalizada. </h1>

<h2 class="heading">Somos especialistas en tratamientos integrales de edificios, muros , terrazas, fachadas, soluciones de óxido y humedad, látex, sintético, epoxi, revestimiento plástico</h2><br>

<div class="w-btn-wrapper width_auto align_left">
  <span class="w-btn-label">CONTACTANOS</span>
</div><br>
<div class="w-btn-wrapper width_auto align_left">
  <a class="w-btn us-btn-style_4" >
    <span class="w-btn-label">PRESUPUESTOS SIN CARGO</span>
  </a></div>
<br>
  <div class="carta">
<div class="contenedor">
  <div class="contenedor_tarjeta">
      <span></span>
      <p>
        *Pintura interior y exterior
        *Pintura de fachadas
        *Pintura de locales comerciales y oficinas
      </p>
  </div>
</div>

 <div class="flip-card">
  <div class="flip-card-inner">
      <div class="flip-card-front">
          <p class="title">GUILLERMO VILLALBA</p>
          <p>CONTACTO</p>
      </div>
      <div class="flip-card-back">
          <p class="title"><a class="w-btn us-btn-style_4" href="https://api.whatsapp.com/send/?phone=542954647906&text&type=phone_number&app_absent=0">2954-647906</a>
            <p>WHATSAPP</p>
      </div>
  </div>
</div> 

</div></div>
<br><br><br><br>


